In [1]:
import pandas as pd

# Pandas Data Series

In [2]:
#1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
s = pd.Series([1, 2, 3, 4, 5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.
s = pd.Series([1, 2, 3, 4, 5])
print(s.tolist())
print(type(s.tolist()))

[1, 2, 3, 4, 5]
<class 'list'>

In [4]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
x = pd.Series([2, 4, 6, 8, 10])
y = pd.Series([1, 3, 5, 7, 9])
print(x + y)
print(x - y)
print(x * y)
print(x / y)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [5]:
#4. Write a Pandas program to compare the elements of the two Pandas Series.
x = pd.Series([2, 4, 6, 8, 10])
y = pd.Series([1, 3, 5, 7, 10])
print(x == y)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [6]:
#5. Write a Pandas program to convert a dictionary to a Pandas series.
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s = pd.Series(d)
print(s)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [7]:
#6. Write a Pandas program to convert a NumPy array to a Pandas series.
import numpy as np
n = np.array([10, 20, 30, 40, 50])
s = pd.Series(n)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [8]:
#7. Write a Pandas program to change the data type of given a column or a Series.
s = pd.Series([100, 200, 'python', 300.12, 400])
print(s)
s = pd.to_numeric(s, errors='coerce')
print(s)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [9]:
#8. Write a Pandas program to convert the first column of a DataFrame as a Series.
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
s = df['col1']
print(s)

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [10]:
#9. Write a Pandas program to convert a given Series to an array.
s = pd.Series([100, 200, 'python', 300.12, 400])
print(s)
print(s.values)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
[100 200 'python' 300.12 400]

In [11]:
#10. Write a Pandas program to convert Series of lists to one Series.
s = pd.Series([[1, 2, 3], [4, 5], [6]])
result = s.explode()
print(result)

0    1
0    2
0    3
1    4
1    5
2    6
dtype: object

# Pandas DataFrame

In [12]:
#1.Write a Pandas program to create a dataframe from a dictionary and display it.
data = {'Name': ['Tom', 'Jack', 'Steve', 'Ricky'], 'Age': [28, 34, 29, 42]}
data = pd.DataFrame(data)
print(data)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [13]:
#2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [16]:
#3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [19]:
#4. Write a Pandas program to get the first 3 rows of a given DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [20]:
#5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [28]:
#6. Write a Pandas program to select the specified columns and rows from a given data frame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data.iloc[[1, 3, 5, 6]][['name', 'score']])

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

In [30]:
#7. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data[data['attempts'] > 2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [31]:
#8. Write a Pandas program to count the number of rows and columns of a DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data.shape)

(10, 4)

In [32]:
#9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data[data['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [33]:
#10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data[data['score'].between(15, 20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

# Pandas Indexing

In [40]:
#1. Write a Pandas program to display the default index and set a column as an Index in a given dataframe.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print(df)
print(df.set_index('school_code'))

  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6
            class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6

In [38]:
#2. Write a Pandas program to create a multi Index frame using two columns and using an Index and a column.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
df1 = df.set_index(['t_id', 'school_code'])
print(df1)
df2 = df.set_index([pd.Index([0, 1, 2, 3, 4, 5]), 'school_code'])
print(df2)

                 class            name date_Of_Birth  weight  address
t_id school_code
t1   s001            V  Alberto Franco    15/05/2002      35  street1
t2   s002            V    Gino Mcneill    17/05/2002      32  street2
t3   s003           VI     Ryan Parkes    16/02/1999      33  street3
t4   s001           VI    Eesha Hinton    25/09/1998      30  street1
t5   s002            V    Gino Mcneill    11/05/2002      31  street2
t6   s004           VI    David Parkes    15/09/1997      32  street4
              class            name date_Of_Birth  weight  address t_id
  school_code
0 s001            V  Alberto Franco    15/05/2002      35  street1   t1
1 s002            V    Gino Mcneill    17/05/2002      32  street2   t2
2 s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
3 s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
4 s002            V    Gino Mcneill    11/05/2002      31  street2   t5
5 s004           VI    David Parkes    15/09/1997      32  street4   t6

In [41]:
#3. Write a Pandas program to display the default index and set a column as an Index in a given dataframe and then reset the index.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print(df)
df1 = df.set_index('school_code')
print(df1)
print(df1.reset_index())

  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6
            class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

In [42]:
#4. Write a Pandas program to create an index labels by using 64-bit integers, using floating-point numbers in a given dataframe.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
df1 = df.set_index(pd.Index([1, 2, 3, 4, 5, 6]))
print(df1)
df2 = df.set_index(pd.Index([0.1, 0.2, 0.3, 0.4, 0.5, 0.6]))
print(df2)

  school_code class            name date_Of_Birth  weight  address t_id
1        s001     V  Alberto Franco    15/05/2002      35  street1   t1
2        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
3        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
4        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
5        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
6        s004    VI    David Parkes    15/09/1997      32  street4   t6
    school_code class            name date_Of_Birth  weight  address t_id
0.1        s001     V  Alberto Franco    15/05/2002      35  street1   t1
0.2        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
0.3        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
0.4        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
0.5        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
0.6        s004    VI    David Parkes    15/09/1997      32  street4   t6

In [43]:
#5. Write a Pandas program to create a DataFrame using intervals as an index.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
df1 = df.set_index(pd.IntervalIndex.from_breaks([0, 1, 2, 3, 4, 5, 6]))
print(df1)

       school_code class            name date_Of_Birth  weight  address t_id
(0, 1]        s001     V  Alberto Franco    15/05/2002      35  street1   t1
(1, 2]        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
(2, 3]        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
(3, 4]        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
(4, 5]        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
(5, 6]        s004    VI    David Parkes    15/09/1997      32  street4   t6

In [47]:
#6. Write a Pandas program to create a dataframe indexing by date and time.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
df1 = df.set_index(df['date_Of_Birth'])
print(df1)

              school_code class            name date_Of_Birth  weight  \
date_Of_Birth
15/05/2002           s001     V  Alberto Franco    15/05/2002      35
17/05/2002           s002     V    Gino Mcneill    17/05/2002      32
16/02/1999           s003    VI     Ryan Parkes    16/02/1999      33
25/09/1998           s001    VI    Eesha Hinton    25/09/1998      30
11/05/2002           s002     V    Gino Mcneill    11/05/2002      31
15/09/1997           s004    VI    David Parkes    15/09/1997      32

               address t_id
date_Of_Birth
15/05/2002     street1   t1
17/05/2002     street2   t2
16/02/1999     street3   t3
25/09/1998     street1   t4
11/05/2002     street2   t5
15/09/1997     street4   t6

In [48]:
#7. Write a Pandas program to create a dataframe and set a title or name of the index column.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
df.index.name = 'Index'
print(df)

      school_code class            name date_Of_Birth  weight  address t_id
Index
0            s001     V  Alberto Franco    15/05/2002      35  street1   t1
1            s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2            s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3            s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4            s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5            s004    VI    David Parkes    15/09/1997      32  street4   t6

In [50]:
#8. Write a Pandas program to set value in a specific cell in a given dataframe using index.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
df.at[2, 'weight'] = 999999999
print(df)

  school_code class            name date_Of_Birth     weight  address t_id
0        s001     V  Alberto Franco    15/05/2002         35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002         32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999  999999999  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998         30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002         31  street2   t5
5        s004    VI    David Parkes    15/09/1997         32  street4   t6

In [52]:
#9. Write a Pandas program to convert index of a given dataframe into a column.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print(df)
df.reset_index(level=0, inplace=True)
print(df)

   school_code class            name date_Of_Birth  weight  address
t1        s001     V  Alberto Franco    15/05/2002      35  street1
t2        s002     V    Gino Mcneill    17/05/2002      32  street2
t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
t5        s002     V    Gino Mcneill    11/05/2002      31  street2
t6        s004    VI    David Parkes    15/09/1997      32  street4
  index school_code class            name date_Of_Birth  weight  address
0    t1        s001     V  Alberto Franco    15/05/2002      35  street1
1    t2        s002     V    Gino Mcneill    17/05/2002      32  street2
2    t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
3    t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
4    t5        s002     V    Gino Mcneill    11/05/2002      31  street2
5    t6        s004    VI    David Parkes    15/09/1997      32  street4

In [53]:
#10. Write a Pandas program to convert 1st and 3rd levels in the index into columns from a multiple level of index frame of a given dataframe.
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
df1 = df.set_index(['t_id', 'school_code', 'class'])
print(df1)
df2 = df1.reset_index(level=['t_id', 'class'])
print(df2)

                                  name date_Of_Birth  weight  address
t_id school_code class
t1   s001        V      Alberto Franco    15/05/2002      35  street1
t2   s002        V        Gino Mcneill    17/05/2002      32  street2
t3   s003        VI        Ryan Parkes    16/02/1999      33  street3
t4   s001        VI       Eesha Hinton    25/09/1998      30  street1
t5   s002        V        Gino Mcneill    11/05/2002      31  street2
t6   s004        VI       David Parkes    15/09/1997      32  street4
            t_id class            name date_Of_Birth  weight  address
school_code
s001          t1     V  Alberto Franco    15/05/2002      35  street1
s002          t2     V    Gino Mcneill    17/05/2002      32  street2
s003          t3    VI     Ryan Parkes    16/02/1999      33  street3
s001          t4    VI    Eesha Hinton    25/09/1998      30  street1
s002          t5     V    Gino Mcneill    11/05/2002      31  street2
s004          t6    VI    David Parkes    15/09/1997      32  street4

# Pandas String and Regular Expression

In [54]:
#1. Write a Pandas program to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.
s = pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', None, 'bird', 'horse', 'dog'])
print(s)
print(s.str.upper())
print(s.str.lower())
print(s.str.len())

0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object
0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object
0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object
0     1.0
1     1.0
2     1.0
3     4.0
4     4.0
5     NaN
6     4.0
7     NaN
8     4.0
9     5.0
10    3.0
dtype: float64

In [55]:
#2. Write a Pandas program to remove whitespaces, left sided whitespaces and right sided whitespaces of the string values of a given pandas series.
s = pd.Index([' Green', 'Black ', ' Red ', 'White', ' Pink '])
print(s)
print(s.str.strip())
print(s.str.lstrip())
print(s.str.rstrip())

Index([' Green', 'Black ', ' Red ', 'White', ' Pink '], dtype='object')
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')
Index(['Green', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')
Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')

In [56]:
#3. Write a Pandas program to add leading zeros to the integer column in a pandas series and makes the length of the field to 8 digit.
nums = {'amount': [10, 250, 3000, 40000, 500000]}
df = pd.DataFrame(nums)
print(df)
df['amount'] = df['amount'].apply(lambda x: '{0:0>8}'.format(x))
print(df)

   amount
0      10
1     250
2    3000
3   40000
4  500000
     amount
0  00000010
1  00000250
2  00003000
3  00040000
4  00500000

In [65]:
#4. Write a Pandas program to add leading zeros to the character column in a pandas series and makes the length of the field to 8 digit.
nums = {'amount': ['10', '250', '3000', '40000', '500000']}
df = pd.DataFrame(nums)
print(df)
df['amount'] = df['amount'].apply(lambda x: '{0:0<8}'.format(x))
print(df)

   amount
0      10
1     250
2    3000
3   40000
4  500000
     amount
0  10000000
1  25000000
2  30000000
3  40000000
4  50000000

In [69]:
#5. Write a Pandas program to capitalize all the string values of specified columns of a given DataFrame.
df = pd.DataFrame({
    'name': ['alberto','gino','ryan', 'Eesha', 'syed'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print(df)
df['name'] = df['name'].str.capitalize()
print(df)

      name date_of_birth    age
0  alberto     17/05/2002  18.5
1     gino     16/02/1999  21.2
2     ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     syed     15/09/1997  23.0
      name date_of_birth    age
0  Alberto     17/05/2002  18.5
1     Gino     16/02/1999  21.2
2     Ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     Syed     15/09/1997  23.0

In [70]:
#6. Write a Pandas program to count of occurrence of a specified substring in a DataFrame column.
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002'],
    'age': [18, 22, 18, 22, 23]
})
print(df)
print(df['name_code'].str.count('2'))

  name_code date_of_birth   age
0      c001     15/05/2002   18
1      c002     17/05/2002   22
2      c022     16/02/1999   18
3     c2002     25/09/1998   22
4     c2222     11/05/2002   23
0    0
1    1
2    2
3    2
4    4
Name: name_code, dtype: int64

In [72]:
#7. Write a Pandas program to find the index of a given substring of a DataFrame column.
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002'],
    'age': [18, 22, 18, 22, 23]
})
print(df)
print(df['name_code'].str.find('22'))

  name_code date_of_birth   age
0      c001     15/05/2002   18
1      c002     17/05/2002   22
2      c022     16/02/1999   18
3     c2002     25/09/1998   22
4     c2222     11/05/2002   23
0   -1
1   -1
2    2
3   -1
4    1
Name: name_code, dtype: int64

In [73]:
#8. Write a Pandas program to find the index of a substring of DataFrame with beginning and end position.
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002'],
    'age': [18, 22, 18, 22, 23]
})
print(df)
print(df['name_code'].str.find('2', 1, 4))

  name_code date_of_birth   age
0      c001     15/05/2002   18
1      c002     17/05/2002   22
2      c022     16/02/1999   18
3     c2002     25/09/1998   22
4     c2222     11/05/2002   23
0   -1
1    3
2    2
3    1
4    1
Name: name_code, dtype: int64

In [75]:
#9. Write a Pandas program to check whether alpha numeric values present in a given column of a DataFrame.
df = pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print(df)
print(df['name_code'].str.isalnum())

      name_code date_of_birth    age
0       Company     12/05/2002  18.5
1  Company a001     16/02/1999  21.2
2   Company 123     25/09/1998  22.5
3          1234     12/02/2022  22.0
4    Company 12     15/09/1997  23.0
0     True
1    False
2    False
3     True
4    False
Name: name_code, dtype: bool

In [76]:
#10. Write a Pandas program to check whether alphabetic values present in a given column of a DataFrame.
df = pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print(df)
print(df['name_code'].str.isalpha())

      name_code date_of_birth    age
0       Company     12/05/2002  18.5
1  Company a001     16/02/1999  21.2
2   Company 123     25/09/1998  22.5
3          1234     12/02/2022  22.0
4    Company 12     15/09/1997  23.0
0     True
1    False
2    False
3    False
4    False
Name: name_code, dtype: bool

# Pandas Joining and merging DataFrame

In [77]:
#1. Write a Pandas program to join the two given dataframes along rows and assign all data.
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})
print(pd.concat([student_data1, student_data2]))

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [78]:
#2. Write a Pandas program to join the two given dataframes along columns and assign all data.
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})
print(pd.concat([student_data1, student_data2], axis=1))

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [85]:
#3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

new_row = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
combined_data = pd.concat([student_data1, pd.DataFrame([new_row])], ignore_index=True)
print(combined_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [86]:
#4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

new_row = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]
combined_data = pd.concat([student_data1, pd.DataFrame([new_row]), pd.DataFrame(dicts)], ignore_index=True)
print(combined_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205
6         S6  Scarlette Fisher    203
7         S7      Bryce Jensen    207

In [87]:
#5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})
combined_data = pd.concat([student_data1, student_data2])
print(combined_data)
result = pd.merge(combined_data, exam_data, on='student_id')
print(result)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [ ]:
#6. Write a Pandas program to join the two dataframes using the common column of both dataframes.
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})